/* Navbar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.container-header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 3rem;
}

.headerTop {
  padding: 0.5rem 7rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

a.site-logo {
  text-decoration: none;
}

.site-logoText {
  width: auto;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}
.header-area {
  background-color: #92000a;
  background-position: center center;
  background-size: cover;
}

.site-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
}
.site-navbar ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: 0.3s;
}
.nav-toggler span:before {
  content: "";
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: "";
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: white;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: black;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 720px;
  }
  .nav-toggler {
    display: block;
  }
  .site-navbar {
    min-height: 60px;
    justify-content: flex-end;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 0px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
  .intro-area h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 600px) {
  .headerTop {
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 500px) {
  .site-logoText {
    width: 70%;
  }
  .site-logoText img {
    width: 100%;
  }
}

/* home */
.cardContainer {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* padding: 5em; */
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
  }
  
  .Card {
    background-position: 50%;
    background-size: cover;
    border-radius: 15px;
    display: inline-block;
    height: auto;
    margin: 2rem;
    overflow: hidden;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
  }
  
  .textUnrImg {
    padding: 10px 0;
  }
  
  .textUnrImg h3 {
    padding: 10px 0 10px 0;
    text-align: justify;
  }
  
  .textUnrImg p {
    text-align: justify;
  }
  


  /* footer */
.footer {
  display: flex;
  flex-direction: row;
  /* background-image: linear-gradient(
    to right bottom,
    rgb(110, 149, 255),
    rgb(63, 63, 255)
  ); */
  background-color: #92000a;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  /* align-items: baseline; */
  justify-content: space-between;
  padding: 2rem;
  overflow: hidden;
}

.footer1 {
  background-color: white;
  padding: 10px;
 
}

.logo {
  height: 150px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding: 7px;
}

.content ul {
  margin: 1rem;
}

.title {
  color: rgb(0, 0, 0);
  font-size: 3rem;
  text-align: center;
}

.head {
  font-size: 1.6rem;
  text-align: center;
}

.ul {
  list-style-type: none;
}

.li {
  list-style-type: none;
}
  @media (max-width: 760px) {
    .footer {
      flex-direction: column;
    }
  
  }

@media (max-width: 320px) {
  .footer {
    flex-direction: column;
  }

  .logo {
    height: 150px;
    width: 200px;

  }
}